* html .u9_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u9_normal.png");
}

* html .u12_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u12_normal.png");
}

* html .u14_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u14_normal.png");
}

* html .u16_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u14_normal.png");
}

* html .u18_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u14_normal.png");
}

* html .u20_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u14_normal.png");
}

* html .u22_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u22_normal.png");
}

* html .u24_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u24_normal.png");
}

* html .u26_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u24_normal.png");
}

* html .u28_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u24_normal.png");
}

* html .u30_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u24_normal.png");
}

* html .u32_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u32_normal.png");
}

* html .u34_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u34_normal.png");
}

* html .u36_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u34_normal.png");
}

* html .u38_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u34_normal.png");
}

* html .u40_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u34_normal.png");
}

* html .u42_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u32_normal.png");
}

* html .u44_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u34_normal.png");
}

* html .u46_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u34_normal.png");
}

* html .u48_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u34_normal.png");
}

* html .u50_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u34_normal.png");
}

* html .u52_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u32_normal.png");
}

* html .u54_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u34_normal.png");
}

* html .u56_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u34_normal.png");
}

* html .u58_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u34_normal.png");
}

* html .u60_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u34_normal.png");
}

* html .u62_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u62_normal.png");
}

* html .u64_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u64_normal.png");
}

* html .u66_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u64_normal.png");
}

* html .u68_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u64_normal.png");
}

* html .u70_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u64_normal.png");
}

* html .u72_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u72_normal.png");
}

* html .u74_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u74_normal.png");
}

* html .u76_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u74_normal.png");
}

* html .u78_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u74_normal.png");
}

* html .u80_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u74_normal.png");
}

* html .u82_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u82_normal.png");
}

* html .u84_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u84_normal.png");
}

* html .u86_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u84_normal.png");
}

* html .u88_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u84_normal.png");
}

* html .u90_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u84_normal.png");
}

* html .u92_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u32_normal.png");
}

* html .u94_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u34_normal.png");
}

* html .u96_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u34_normal.png");
}

* html .u98_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u34_normal.png");
}

* html .u100_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u34_normal.png");
}

* html .u102_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u102_normal.png");
}

* html .u104_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u104_normal.png");
}

* html .u106_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u104_normal.png");
}

* html .u108_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u104_normal.png");
}

* html .u110_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u104_normal.png");
}

* html .u112_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u32_normal.png");
}

* html .u114_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u34_normal.png");
}

* html .u116_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u34_normal.png");
}

* html .u118_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u34_normal.png");
}

* html .u120_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u34_normal.png");
}

* html .u122_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u122_normal.png");
}

* html .u124_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u124_normal.png");
}

* html .u126_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u124_normal.png");
}

* html .u128_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u124_normal.png");
}

* html .u130_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u124_normal.png");
}

* html .u132_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u122_normal.png");
}

* html .u134_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u124_normal.png");
}

* html .u136_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u124_normal.png");
}

* html .u138_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u124_normal.png");
}

* html .u140_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u124_normal.png");
}

* html .u143_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u143_normal.png");
}

* html .u146_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u22_normal.png");
}

* html .u148_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u32_normal.png");
}

* html .u150_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u32_normal.png");
}

* html .u152_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u82_normal.png");
}

* html .u154_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u82_normal.png");
}

* html .u156_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u82_normal.png");
}

* html .u158_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u82_normal.png");
}

* html .u160_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u32_normal.png");
}

* html .u162_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u32_normal.png");
}

* html .u164_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u32_normal.png");
}

* html .u166_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u166_normal.png");
}

* html .u169_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u9_normal.png");
}

* html .u172_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u12_normal.png");
}

* html .u174_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u14_normal.png");
}

* html .u176_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u14_normal.png");
}

* html .u178_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u14_normal.png");
}

* html .u180_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u14_normal.png");
}

* html .u182_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u32_normal.png");
}

* html .u184_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u34_normal.png");
}

* html .u186_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u34_normal.png");
}

* html .u188_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u34_normal.png");
}

* html .u190_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u34_normal.png");
}

* html .u192_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u32_normal.png");
}

* html .u194_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u34_normal.png");
}

* html .u196_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u34_normal.png");
}

* html .u198_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u34_normal.png");
}

* html .u200_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u34_normal.png");
}

* html .u202_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u32_normal.png");
}

* html .u204_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u34_normal.png");
}

* html .u206_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u34_normal.png");
}

* html .u208_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u34_normal.png");
}

* html .u210_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u34_normal.png");
}

* html .u212_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u102_normal.png");
}

* html .u214_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u104_normal.png");
}

* html .u216_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u104_normal.png");
}

* html .u218_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u104_normal.png");
}

* html .u220_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u104_normal.png");
}

* html .u222_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u32_normal.png");
}

* html .u224_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u34_normal.png");
}

* html .u226_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u34_normal.png");
}

* html .u228_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u34_normal.png");
}

* html .u230_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u34_normal.png");
}

* html .u232_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u32_normal.png");
}

* html .u234_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u34_normal.png");
}

* html .u236_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u34_normal.png");
}

* html .u238_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u34_normal.png");
}

* html .u240_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u34_normal.png");
}

* html .u242_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u242_normal.png");
}

* html .u244_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u244_normal.png");
}

* html .u246_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u244_normal.png");
}

* html .u248_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u244_normal.png");
}

* html .u250_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u244_normal.png");
}

* html .u252_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u82_normal.png");
}

* html .u254_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u84_normal.png");
}

* html .u256_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u84_normal.png");
}

* html .u258_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u84_normal.png");
}

* html .u260_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u84_normal.png");
}

* html .u262_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u262_normal.png");
}

* html .u264_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u264_normal.png");
}

* html .u266_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u264_normal.png");
}

* html .u268_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u264_normal.png");
}

* html .u270_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u264_normal.png");
}

* html .u272_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u262_normal.png");
}

* html .u274_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u264_normal.png");
}

* html .u276_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u264_normal.png");
}

* html .u278_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u264_normal.png");
}

* html .u280_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u264_normal.png");
}

* html .u283_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u143_normal.png");
}

* html .u286_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u32_normal.png");
}

* html .u288_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u32_normal.png");
}

* html .u290_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u32_normal.png");
}

* html .u292_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u32_normal.png");
}

* html .u294_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u32_normal.png");
}

* html .u296_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u32_normal.png");
}

* html .u298_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u22_normal.png");
}

* html .u300_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u72_normal.png");
}

* html .u302_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u262_normal.png");
}

* html .u305_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u9_normal.png");
}

* html .u308_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u12_normal.png");
}

* html .u310_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u14_normal.png");
}

* html .u312_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u14_normal.png");
}

* html .u314_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u14_normal.png");
}

* html .u316_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u14_normal.png");
}

* html .u318_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u32_normal.png");
}

* html .u320_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u34_normal.png");
}

* html .u322_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u34_normal.png");
}

* html .u324_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u34_normal.png");
}

* html .u326_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u34_normal.png");
}

* html .u328_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u62_normal.png");
}

* html .u330_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u64_normal.png");
}

* html .u332_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u64_normal.png");
}

* html .u334_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u64_normal.png");
}

* html .u336_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u64_normal.png");
}

* html .u338_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u62_normal.png");
}

* html .u340_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u64_normal.png");
}

* html .u342_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u64_normal.png");
}

* html .u344_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u64_normal.png");
}

* html .u346_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u64_normal.png");
}

* html .u348_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u72_normal.png");
}

* html .u350_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u74_normal.png");
}

* html .u352_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u74_normal.png");
}

* html .u354_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u74_normal.png");
}

* html .u356_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u74_normal.png");
}

* html .u358_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u32_normal.png");
}

* html .u360_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u34_normal.png");
}

* html .u362_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u34_normal.png");
}

* html .u364_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u34_normal.png");
}

* html .u366_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u34_normal.png");
}

* html .u368_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u72_normal.png");
}

* html .u370_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u74_normal.png");
}

* html .u372_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u74_normal.png");
}

* html .u374_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u74_normal.png");
}

* html .u376_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u74_normal.png");
}

* html .u378_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u32_normal.png");
}

* html .u380_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u34_normal.png");
}

* html .u382_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u34_normal.png");
}

* html .u384_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u34_normal.png");
}

* html .u386_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u34_normal.png");
}

* html .u388_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u82_normal.png");
}

* html .u390_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u84_normal.png");
}

* html .u392_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u84_normal.png");
}

* html .u394_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u84_normal.png");
}

* html .u396_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u84_normal.png");
}

* html .u398_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u32_normal.png");
}

* html .u400_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u34_normal.png");
}

* html .u402_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u34_normal.png");
}

* html .u404_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u34_normal.png");
}

* html .u406_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u34_normal.png");
}

* html .u408_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u82_normal.png");
}

* html .u410_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u84_normal.png");
}

* html .u412_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u84_normal.png");
}

* html .u414_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u84_normal.png");
}

* html .u416_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u84_normal.png");
}

* html .u418_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u82_normal.png");
}

* html .u420_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u84_normal.png");
}

* html .u422_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u84_normal.png");
}

* html .u424_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u84_normal.png");
}

* html .u426_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u84_normal.png");
}

* html .u429_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u143_normal.png");
}

* html .u432_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u102_normal.png");
}

* html .u434_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u62_normal.png");
}

* html .u436_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u62_normal.png");
}

* html .u438_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u62_normal.png");
}

* html .u440_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u32_normal.png");
}

* html .u442_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u32_normal.png");
}

* html .u444_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u82_normal.png");
}

* html .u446_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u82_normal.png");
}

* html .u448_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u32_normal.png");
}

* html .u450_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u72_normal.png");
}

* html .u453_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u9_normal.png");
}

* html .u456_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u12_normal.png");
}

* html .u458_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u14_normal.png");
}

* html .u460_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u14_normal.png");
}

* html .u462_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u14_normal.png");
}

* html .u464_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u14_normal.png");
}

* html .u466_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u122_normal.png");
}

* html .u468_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u124_normal.png");
}

* html .u470_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u124_normal.png");
}

* html .u472_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u124_normal.png");
}

* html .u474_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u124_normal.png");
}

* html .u476_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u62_normal.png");
}

* html .u478_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u64_normal.png");
}

* html .u480_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u64_normal.png");
}

* html .u482_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u64_normal.png");
}

* html .u484_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u64_normal.png");
}

* html .u486_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u72_normal.png");
}

* html .u488_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u74_normal.png");
}

* html .u490_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u74_normal.png");
}

* html .u492_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u74_normal.png");
}

* html .u494_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u74_normal.png");
}

* html .u496_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u32_normal.png");
}

* html .u498_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u34_normal.png");
}

* html .u500_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u34_normal.png");
}

* html .u502_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u34_normal.png");
}

* html .u504_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u34_normal.png");
}

* html .u506_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u22_normal.png");
}

* html .u508_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u24_normal.png");
}

* html .u510_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u24_normal.png");
}

* html .u512_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u24_normal.png");
}

* html .u514_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u24_normal.png");
}

* html .u516_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u122_normal.png");
}

* html .u518_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u124_normal.png");
}

* html .u520_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u124_normal.png");
}

* html .u522_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u124_normal.png");
}

* html .u524_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u124_normal.png");
}

* html .u527_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u143_normal.png");
}

* html .u530_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u122_normal.png");
}

* html .u532_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u122_normal.png");
}

* html .u534_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u82_normal.png");
}

* html .u536_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u102_normal.png");
}

* html .u538_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Jadual_7__Purata_Gaji_Pekerja_Warganegara__1_files/u22_normal.png");
}

